.active {
  text-decoration: underline;
}

.toc > li {
  margin-bottom: 5px;
}

h1 { font-size: 2.2em; }
h2 { font-size: 2.0em; }
h3 { font-size: 1.7em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.1em; }

.site-title {
  line-height: normal;
  margin-top: 0.3em;
}

.site-title p {
  font-size: 0.5em;
  margin-bottom: 0.3em;
}

.hidden   { display: none; }

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  border: 1px solid black;
  text-align: center;
}

table td {
  border: 1px dashed lightgrey;
}

th {
  border-bottom: 1px solid black;
}

tr {
  margin: 0;
  padding: 0;
}

.sep-top td,
.sep-top {
  border-top: 1px solid black;
}

.sep-bot td,
.sep-bot {
  border-bottom: 1px solid black;
}

.sep-left td,
.sep-left {
    border-left: 1px solid black;
}

.sep-right td,
.sep-right {
    border-right: 1px solid black;
}

dl dt {
  font-weight: 800;
}

dl dd {
  padding-left: 1em;
  margin-bottom: 0.5em;
}