<!DOCTYPE html>
<html lang="de">

<head>
    {% include 'parts/head.twig' %}
    <title>{% block title %}The Title{% endblock %}</title>
</head>

<body>
    {% include 'parts/nav.twig' %}

    <div class="container">
        {% block content %}
            Content Block
        {% endblock %}
    </div>

    {% include 'parts/foot.twig' %}
</body>

</html>
